{% extends "base.html" %}	
{% block title %}Failed Log In{% endblock %}
{% block content %}
    <section>
    <span>Plan a successful event</span>
    <p>Welcome to<br>Creatives Connect</p>
        
    <h2 style="color: rgb(126, 7, 7);">Account does not exist or Incorrect password for {{email}}</h2>

    <div>Try Again? <button type="submit"><a href="/crlogin/"><b>Log In</b></a></button></div><br><br><br>
    <div>No Account? <button type="submit"><a href="/crsignup/"><b>Sign Up</b></a></button></div>
   
    </section>
{% endblock %}