{% extends "base.html" %}	
{% block title %}Log In{% endblock %}
{% block content %}  
   
    <form class="" action="#", method="POST">

        Email: <input type="email" required name="Email" placeholder="Email"> <br> <br>
        Password: <input type="password" required name="Password" placeholder="Password"> <br> <br>
        
        <input type="submit" name="" value="LOG IN">

    </form>
  
    <section class="sign">
    <button><a href="/usersignup/"><b>Sign up to connect to a Creative</b></a></button>
    </section>

{% endblock %}
